<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">RESOURCE WEB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          HTML &amp; CSS3
        </ion-card-header>
      
        <ion-list>
          <ul>
            <hr>
            <li>
                <button ion-item>
                    <ion-icon name="" item-start></ion-icon>
                    HTML5 par la pratique
                </button>
            </li>
            <hr>
            <li>
                <button ion-item>
                    <ion-icon name="" item-start></ion-icon>
                    Prenez en main le CSS3
                </button>
            </li>
            <hr>
            <li>
                <button ion-item>
                    <ion-icon name="" item-start></ion-icon>
                    Toutes les balises CSS3
                </button>
            </li>
            <hr>
          </ul>

        </ion-list>
      </ion-card>
      <ion-card>
          <ion-card-header>
            JAVASCRIPT
          </ion-card-header>
        
          <ion-list>
            <ul>
              <hr>
              <li>
                  <button ion-item>
                      <ion-icon name="" item-start></ion-icon>
                      Les bases du JS
                  </button>
              </li>
              <hr>
              <li>
                  <button ion-item>
                      <ion-icon name="" item-start></ion-icon>
                      Le DOM-1 et le DOM-2
                  </button>
              </li>
              <hr>
              <li>
                  <button ion-item>
                      <ion-icon name="" item-start></ion-icon>
                      Apprenez le jquery
                  </button>
              </li>
              <hr>
            </ul>
            
          </ion-list>
        </ion-card>
    <div class="footer">
      <p>Copyright © AWF2018. Développé par: Genesis NaN</p>
  </div>
</ion-content>
