li{
    list-style: none;
    line-height: 3px;
}
button{
    width: 250px;
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(231, 87, 87);
    color: black;
    font-weight: bold;
    text-align: center;
}