<ion-header>
  <ion-toolbar>
    <ion-buttons start>
        <button ion-button icon-only color="royal" (click)="goto('/tabs/(home:home)')">
          <ion-icon name="home"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title style="text-align:center;">AWF Festival</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="festi">
    <div>
      <img src="../../assets/icon/festi.jpg" style="margin:0 auto;display:block;" alt="image">
    </div>
    <div class="fond">
        <h2>JE SUIS L'AFRIQUE 3.0</h2>
        <p padding>
            Avec plus de 7000 participants chaque année, Africa Web Festival est aujourd’hui le plus important rendez-vous de promotion et d’émulation du numérique en Afrique francophone. Fondé en 2014 par Mariam Sy Diawara, cet événement réunit intervenants de renommée internationale, entrepreneurs, organisations, partenaires institutionnels et grand public.
            Une occasion unique de découvrir les tendances du numérique, nouer des relations d’affaires et réfléchir au mieux vivre ensemble par l’innovation, la créativité et l’entrepreneuriat.
        </p>
        <p padding>Le thème qui nous réuni ici autour de cette édition 2018 est: <b>"CONSOLIDER LA PAIX EN AFRIQUE PAR L'INNOVATION ET L'ENTREPRENEURIAT".</b>
        </p>
    </div>
    
    <div class="perso">
      <h2>La fondatrice de l'AWF</h2>
          <ion-card>
            <img src="../../assets/icon/fondatrice.jpg"/>
            <div class="card-title">Mariam Sy Diawara</div>
            <div class="card-subtitle">Fondatrice de Africa Web Festival</div>
          </ion-card>
          <div class="bio">
              <b>Mariam Sy Diawara</b> née à Abidjan en Côte d'Ivoire, est fondatrice et Présidente de la Maison de l'Afrique-Mandingo Inc. Elle est aussi connue dans le monde de la publicité en Afrique francophone pour avoir créé le groupe de communication dénommé Groupe Univers, comprenant diverses agences de communication, d’édition, d’études et de tourisme en Côte d'Ivoire. Elle a représenté l’Afrique au conseil d’administration du Mondial de la Publicité Francophone. Elle est à l'initiatrice du premier Salon du livre africain tenu à Abidjan en 1993.
              <a href="https://fr.wikipedia.org/wiki/Mariam_Sy_Diawara">Lire plus ...</a>
          </div>
    </div>
  </div>
  <div class="footer">
      <p>Copyright © AWF2018. Développé par: Genesis NaN</p>
  </div>
</ion-content>
