<ion-header>
    <ion-toolbar>
      <ion-title style="text-align:center;">COMMUNICATION DIGITALE</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-card>
          <ion-card-header>
            VISUELS
          </ion-card-header>
        
          <ion-list>
            <ul>
              <hr>
              <li>
                  <button ion-item>
                      <ion-icon name="" item-start></ion-icon>
                      Photoshop CC 2018
                  </button>
              </li>
              <hr>
              <li>
                  <button ion-item>
                      <ion-icon name="" item-start></ion-icon>
                      Des logos avec PS CC 2018
                  </button>
              </li>
              <hr>
              <li>
                  <button ion-item>
                      <ion-icon name="" item-start></ion-icon>
                      Débutez le montage video 
                  </button>
              </li>
              <hr>
            </ul>
  
          </ion-list>
        </ion-card>
        <ion-card>
            <ion-card-header>
              LES RESEAUX SOCIAUX
            </ion-card-header>
          
            <ion-list>
              <ul>
                <hr>
                <li>
                    <button ion-item>
                        <ion-icon name="" item-start></ion-icon>
                        Monétiser facebook
                    </button>
                </li>
                <hr>
                <li>
                    <button ion-item>
                        <ion-icon name="" item-start></ion-icon>
                        Le community manager
                    </button>
                </li>
                <hr>
                <li>
                    <button ion-item>
                        <ion-icon name="" item-start></ion-icon>
                        Post sponsoriés
                    </button>
                </li>
                <hr>
              </ul>
              
            </ion-list>
          </ion-card>
  </ion-content>
  