<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">AFRICA WEB FESTIVAL: 29 – 30 NOVEMBRE, 1ER DÉCEMBRE 2018 ABIDJAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="padding:16px">
<ion-card>
    <ion-card-header>
      <ion-img src="../../assets/icon/a2.png"></ion-img>
      <ion-card-title>AFRICA WEB FESTIVAL: 29 – 30 NOVEMBRE, 1ER DÉCEMBRE 2018 ABIDJAN</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <h2>AFRICA WEB FESTIVAL 2018</h2> 
<p><b>L’Africa Web Festival 2018 aura pour thème « Consolider la paix en Afrique par l’Innovation et l’Entrepreneuriat »</b></p> 
<p>
  Évènement tournant dans les pays d’Afrique francophone, l’Africa Web Festival est promu par l’organisation à but non lucratif (OBNL) « MANDINGO AGIR POUR DEMAIN » et se déroulera cette année à Abidjan <b>les 29, 30 Nov. et 1er Déc. 2018.</b>Il s’adresse en particulier aux actuels et futurs entrepreneurs ivoiriens et africains
</p>

<p>
  Le festival est composé de grandes conférences, d’ateliers et sessions de formation, de marathons de programmation et coachings actifs, de rencontres d’affaires (B2B)
</p>

<p>
  Le festival a pour objectifs de:
  • Promouvoir la production, la diffusion et l’utilisation des outils issus du numérique par les acteurs des sociétés africaines.
  • Prendre en compte les évolutions rapides du secteur des NTIC pour les mettre au profit de la jeunesse africaine par le biais de conférences, d’ateliers, de formations et de marathons de programmation et de création d’entreprises.
  • Contribuer à l’émergence d’une société de l’information démocratique, inclusive, ouverte et transparente.
  • Faire la promotion de la culture entrepreneuriale dans l’utilisation et le développement des outils du numérique et de l’innovation.
  • Renforcer les habilités techniques et humaines des jeunes, afin de susciter la création d’entreprises et appuyer le développement du secteur privé dans le domaine du numérique.
  • Initier et développer par et pour les jeunes, des projets novateurs répondant aux défis sociaux et économiques des sociétés africaines.
</p>

<p>
  Les sous-thèmes de l’Africa Web Festival 2018 sont
Ø Contribution des Nouvelles Technologies de l’information et de la communication aux liens
intergénérationnels et interculturels en Afrique:
Ø « Écosystème Numérique pour l’Afrique ; créer des synergies entre StartUp et Grandes
Entreprises »
</p>


<p><b>Africa Web Festival 2018  – Abidjan (RCI) 29, 30 Nov. et 1er Déc. 2018</b></p>

<p>En savoir plus : </p>



<p>http://africawebfestival.com/ </p>
<p>https://www.facebook.com/africawebfestival/</p>
<p>Dossier : https://www.francophonie.org/IMG/pdf/pdf_awf2018.pdf</p>

<p><b>Source Francophonie:</b> https://lc.cx/magf</p>
  </ion-card-content> 
  </ion-card>
</div>
  
  <div class="footer">
    Copyright © AWF2018. Développé par: Genesis NaN
  </div>
</ion-content>
