h1{
    border: 1px solid rgb(99, 98, 98);
    background-image:linear-gradient(to bottom left,rgb(223, 50, 50), white);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
.footer{
    background-color: rgb(153, 146, 146);
    color:white;
    padding:16px;
    text-align: center;
}
.footer p{
    color:black;
    font-weight: bold;
    font-size: 10px;
}
.img_logo{
    margin-bottom: 8px;
}