<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">AFRICA WEB FESTIVAL: 29 – 30 NOVEMBRE, 1ER DÉCEMBRE 2018 ABIDJAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:16px;">
  <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/icon/a1.jpg"></ion-img>
      <ion-card-title>AFRICA WEB FESTIVAL: 29 – 30 NOVEMBRE, 1ER DÉCEMBRE 2018 ABIDJAN</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <p>Africa Web Festival a 5 ans !!!</p>
     <p>
      Rendez-vous de promotion et d’émulation du numérique en Afrique francophone, Africa Web Festival (#AWF2018) est un événement gratuit et ouvert à tous. Il réunit pendant 3 jours, professionnels, passionnés du numérique et entrepreneurs autour de diverses activités (conférences, panels, ateliers, jeux, concours, recrutements et rencontre BtoB).
     </p>
     <p>
      Cette édition qui marque le 5e anniversaire de l’évènement est une occasion unique de découvrir les tendances du numérique, nouer des relations d’affaires et réfléchir au mieux vivre ensemble par la créativité, l’innovation et l’entrepreneuriat.
     </p>
     <p>
      Cette année, Africa Web Festival fait le pari de mettre en avant les Africains qui sur leur continent développent des solutions innovantes et/ou technologiques qui contribuent à pérenniser la paix dans leur différents milieux.
     </p>
     <p>
      Retrouvons-nous les 29, 30 novembre et 1er décembre 2018 au Palais de la Culture de Treichville autour du thème: <b>« Consolider la paix en Afrique par l’innovation et l’entrepreneuriat »</b>.
     </p>
     <b>#AWF2018</b>

      Source TV5 Monde Afrique: https://lc.cx/maQa
    </ion-card-content> 
  </ion-card>
  </div>
  
  <div class="footer">
    Copyright © AWF2018. Développé par: Genesis NaN
  </div>
</ion-content>
