<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">AGENDA ABIDJAN, DU 29/11 AU 01/12 – VE AFRICA WEB FESTIVAL, OU L’INNOVATION ENTREPRENEURIALE AU SERVICE DE LA PAIX</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:16px;">
    <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/icon/a3.jpg"></ion-img>
      <ion-card-title>AGENDA ABIDJAN, DU 29/11 AU 01/12 – VE AFRICA WEB FESTIVAL, OU L’INNOVATION ENTREPRENEURIALE AU SERVICE DE LA PAIX</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <p>Avec plus de 7000 participants chaque année, Africa Web Festival est le plus important rendez-vous de promotion et d’émulation du numérique en Afrique francophone. Relever le défi de la « consolidation de la paix par l’innovation et l’entrepreneuriat » sera le fil conducteur de cette Veédition de AWF, au palais de la culture de Treichville à Abidjan, les 29, 30 novembre et 1er décembre.</p>
     <p>
      Fondé en 2014 par <b>Mariam Sy Diawara</b>, cet événement réunit intervenants de renommée internationale, entrepreneurs, organisations, partenaires institutionnels et grand public, en tout quelque 7 000 participants, et il représente occasion unique en Afrique de l’Ouest pour découvrir les tendances du numérique, nouer des relations d’affaires et « réfléchir au mieux vivre ensemble par l’innovation, la créativité et l’entrepreneuriat ».Pour AWF la définition « d’entrepreneur » dépasse en effet le cadre de l’entreprise privée pour rejoindre toute personne qui par une démarche créative, d’autonomisation et de leadership, contribue au bien-être de sa société.
     </p>
     <h1>COMMENT ?… LE MOT-CLÉ DU FESTIVAL</h1>
     <p>
      Ainsi AWF, qui se veut un bâtisseur d’écosystèmes pacifiques à travers les vecteurs de l’entrepreneuriat, de l’innovation et de la technologie, s’est-il assigné une immense tâche, qui s’article en quelques questions essentielles :
     </p>
     <p>- Comment sensibiliser et mobiliser l’écosystème entrepreneurial et technologique africain sur la portée de la consolidation de la paix et créer un effet de levier ?</p>
     <p>- Comment établir des liens de collaboration entre institutions (internationales et nationales) œuvrant dans la consolidation de la paix et l’écosystème entrepreneurial et technologique africain ?</p>
     <p>- Comment établir les passerelles entre les forces de sécurité et les acteurs économiques</p>
     <p>- Comment maitriser la contribution des entrepreneurs à la paix en milieu rural</p>
     <p>- Comment faciliter les investissements privés dans les environnements post-conflits, etc.</p>
      <h1>UN PROGRAMME TRES DENSE</h1>
      <p>Pendant trois jours, une succesion de conférences, ateliers et tables rondes aura donc pour ambition d’esquisser des éléments de réponseen traitant de nombreux thèmes :</p>
      <p>- Entrepreneuriat social et pérennisation de la paix</p>
      <p>- Entrepreneuriat féminin et la consolidation de la paix
      </p>
      <p>- Rebâtir les institutions publiques, créer des liens efficients, durables et de confiance entre institutions et citoyens
      </p>
      <p>- Zones urbaines fragiles : prévention des conflits et maintien de la paix en zone urbaine
      </p>
      <p>- Outils technologiques ou novateurs de prévention des conflits armés et des atrocités physiques</p>
      <p>- Outils de renforcement des capacités de la société civile et de création de liens sociaux, de gestion de la médiation</p>
      <p>- Gestion des catastrophes naturelles Accueil des réfugiés et des personnes déplacées, amélioration de leurs conditions de vie</p>
      <p>- Accès aux services de santé et aux services essentiels (eau potable, logement, etc.) pour les populations fragiles</p>
      <p>Justice et droits humains : solutions innovantes améliorant l’accès à la justice et sa vulgarisation auprès des personnes vulnérables (étant entendu que la question de la justice transitionnelle, comme instrument de réinsertion dans le tissu économique et social, est très importante).</p>
      <p>- Outils novateurs de prévention de la violence faite aux femmes et aux enfants.</p>
      <p>- Réinsertion entrepreneuriale des ex-combattants.</p>
      <p>◊ ◊ ◊</p>
      <p>EN SAVOIR PLUS</p>
      <p>Site de l’événement : <br>
        http://africawebfestival.com/</p>
      <p>CONTACT</p>
      <p>Africa Web Festival info@africawebfestival.com 
        +225 22 48 48 88</p>
      <p>Source: https://lc.cx/magx</p>
    </ion-card-content> 
  </ion-card>
  </div>
  <div class="footer">
    Copyright © AWF2018. Développé par: Genesis NaN
  </div>
</ion-content>
